@import url("https://use.typekit.net/qkh0ymw.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "stevie-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

h1 {
  font-family: "stevie-sans", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "stevie-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  font-family: "stevie-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-family: "stevie-sans", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: underline;

  &:hover {
    font-style: italic;
  }
}
