.pageContainer {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.featureContainer {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(70vh + 3rem);
  z-index: 2;
  pointer-events: none;
}

.featureTextWrapper {
  position: relative;
  height: 60vh;
  overflow: hidden;
  z-index: 1;
}

.featureTextWrapper h1 {
  margin: 0;
  white-space: nowrap;
}

.bText {
    letter-spacing: 0.113em;
}


.navContainer {
  position: absolute;
  left: 22%;
  top: 67vh;
  height: 30vh;
  display: flex;
  align-items: center;
}

.navContainer ul {
  font-family: "stevie-sans", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  list-style: none;
  padding: 0;
  margin: 0;
}   

.navContainer ul li {
  margin-bottom: 16px;
}

.navContainer ul li a {
  letter-spacing: 0.25em;
}