.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100;
  overflow: hidden;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .nav {
    padding-top: 6rem;
  }
}

.menuItem {
  display: block;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
}

.textLine {
  display: block;
  font-family: 'stevie-sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
  line-height: 1.1;
  text-align: center;
}
